.board-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
  }
  
  /* .board-table thead {
    background-color: #E9DFFF;
    font-weight: bold;
  } */
  
  .board-table td {
    padding: 8px 12px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .board-table .title {
    color: #4B0082;
    cursor: pointer;
    font-size: 20px;
  }
  
  .board-table tr:last-child td {
    border-bottom: none;
  }